*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial,sans-serif;
background:#fff8f2;
}

nav{

background:#6b3418;
color:white;

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 60px;

}

nav ul{

display:flex;
list-style:none;
gap:25px;

}

nav a{

color:white;
text-decoration:none;

}

.banner{

background:#ffe5cc;
padding:70px;
text-align:center;

}

.banner h1{

font-size:50px;
color:#8b4513;

}

.banner p{

margin-top:10px;
font-size:20px;

}

.gallery{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

padding:60px;

}

.box{

background:white;

border-radius:15px;

overflow:hidden;

box-shadow:0 5px 15px rgba(0,0,0,.2);

transition:.4s;

}

.box:hover{

transform:scale(1.05);

}

.box img{

width:100%;
height:250px;
object-fit:cover;

}

.box h3{

padding:20px;
text-align:center;
color:#8b4513;

}

footer{

background:#3b1d0d;
color:white;
text-align:center;
padding:35px;

}

@media(max-width:900px){

.gallery{

grid-template-columns:1fr;

}

}