body{

margin:0;
font-family:'Arial',sans-serif;

}



/* Navbar */


nav{

display:flex;
justify-content:space-between;
align-items:center;

background:#8B4513;

padding:15px 50px;

color:white;

}



.logo{

display:flex;
align-items:center;
gap:10px;

}


.logo img{

width:50px;
height:50px;

}



nav ul{

display:flex;
gap:25px;

list-style:none;

}



nav a{

color:white;
text-decoration:none;

}




/* Hero */


.hero{

height:600px;

background-image:url("../images/bakery-banner.jpg");

background-size:cover;

background-position:center;

display:flex;

justify-content:center;

align-items:center;

text-align:center;


}



.hero-text{

background:rgba(255,255,255,0.7);

padding:40px;

border-radius:15px;

animation:fade 2s;

}



.hero h1{

font-size:55px;

color:#8B4513;

}



.hero p{

font-size:22px;

}



button{

padding:15px 35px;

background:#D2691E;

color:white;

border:none;

border-radius:30px;

font-size:18px;

cursor:pointer;

transition:0.3s;

}



button:hover{

transform:scale(1.1);

}





/* Animation */


@keyframes fade{

from{

opacity:0;

transform:translateY(-50px);

}


to{

opacity:1;

transform:translateY(0);

}

}






/* About */


.about{

text-align:center;

padding:50px;

}





/* Products */


.products{

text-align:center;

padding:40px;

}



.cards{

display:flex;

justify-content:center;

gap:30px;

}



.card{

width:250px;

box-shadow:0 0 10px gray;

padding:20px;

border-radius:10px;

transition:0.4s;

}



.card:hover{

transform:translateY(-10px);

}



.card img{

width:100%;

height:180px;

object-fit:cover;

border-radius:10px;

}





/* Map */


.map{

padding:40px;

text-align:center;

}





/* Footer */


footer{

background:#8B4513;

color:white;

text-align:center;

padding:30px;

}