*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

font-family:Arial;
background:#fff8f2;

}



/* Navbar */


nav{

background:#6b3418;

padding:20px 60px;

display:flex;

justify-content:space-between;

align-items:center;

color:white;

}


nav ul{

display:flex;

gap:25px;

list-style:none;

}


nav a{

color:white;

text-decoration:none;

}





/* Banner */


.banner{

height:350px;

background:#ffe5cc;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}


.banner h1{

font-size:55px;

color:#8b4513;

}






/* Contact Section */


.contact{

display:flex;

gap:50px;

padding:70px;

}





.info,
.form-box{

width:50%;

padding:35px;

background:white;

border-radius:20px;

box-shadow:0 5px 20px gray;

}



.info h2,
.form-box h2{

color:#8b4513;

margin-bottom:25px;

}



.info p{

font-size:18px;

margin:20px;

}






/* Form */


input,
textarea{

width:100%;

padding:15px;

margin:10px 0;

border-radius:10px;

border:1px solid #ccc;

}



textarea{

height:150px;

}



button{

background:#c76b2a;

color:white;

border:none;

padding:15px 40px;

border-radius:30px;

cursor:pointer;

}



button:hover{

background:#8b4513;

}





/* Map */


.map{

padding:50px;

text-align:center;

}



.map iframe{

border-radius:20px;

}




/* Footer */


footer{

background:#3b1d0d;

color:white;

text-align:center;

padding:40px;

}




@media(max-width:900px){


.contact{

flex-direction:column;

}


.info,
.form-box{

width:100%;

}


}